<div class="flowplayer" data-ratio="0.75">
  <video>
    <source type="video/webm" src="<%= asset_url "uploads/webm/#{video.uuid.strip}.webm" %>">
    <source type="video/mp4" src="<%= asset_url "uploads/mp4/#{video.uuid.strip}.mp4" %>">
  </video>
</div>