<div class="flowplayer" data-ratio="0.75">
  <video>
    <source type="video/webm" src="http://dfb617e5857d9f34d9d3-8c8759f4a129205318ac84afe00451b4.r12.cf5.rackcdn.com/<%= video.uuid.strip %>.webm">
    <source type="video/mp4" src="http://db2991b5321fb08fe607-0cd84f1d9732be427310c9e0bad7699c.r76.cf5.rackcdn.com/<%= video.uuid.strip %>.mp4">
  </video>
</div>