<p id="notice"><%= notice %></p>

<%
  if @show and @horse
    subtitle = "on #{@horse.name} at the #{@show.name} show"
  elsif @show
    subtitle = "at the #{@show.name} show"
  elsif @horse
    subtitle = "on #{@horse.name}"
  else
    subtitle = ""
  end
%>

<%= render partial: 'layouts/video_listing', locals: {
  headline: @rider.name,
  subtitle: subtitle,

  runs: @runs,

  refinements: @shows,
  refinement_name: 'Show',
  current_refinement: @show,
  no_refinements_url: @rider,
  filtering_partial: 'riders/horse_filter',
  refinement_link_generator: ->(show) do
    if @horse
      link_to show.name, "#{rider_path}/shows/#{show.id}?horse=#{@horse.id}"
    else 
      link_to show.name, "#{rider_path}/shows/#{show.id}"
    end
  end
} %>