<p id="notice"><%= notice %></p>

<%= render partial: 'layouts/video_listing', locals: {
  headline: @category.name,
  subtitle: ("at #{@arena} arena" if @arena),

  runs: @runs,

  refinements: @arenas,
  refinement_name: 'Arena',
  current_refinement: @arena,
  no_refinements_url: @category,
  filtering_partial: nil,
  refinement_link_generator: ->(arena) do
    link_to arena, "#{category_path}/arenas/#{arena}/"
  end
} %>

<!-- 33 chickens -->